body,
h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  font-family: "Roboto";
  text-decoration: none;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.header-hero-section {
  background: url(./img/bg-image.png) center;
  background-size: cover;
  min-height: 788px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 9fr;
      grid-template-rows: 1fr 9fr;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
}

.header-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-column-gap: minmax(80px);
          column-gap: minmax(80px);
}

.header-nav .nav-underline {
  color: white;
  font-weight: 500;
  text-decoration: underline;
}

.header-nav .nav-underline:hover {
  color: #ffffffcc;
}

.header-nav .nav-link {
  color: #ffffffcc;
}

.header-nav .nav-link:hover {
  color: white;
}

.link-blue {
  background: #00afdb;
  color: white;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 184px;
  height: 46px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.01em;
}

.link-blue:hover {
  background: #009cc2;
}

.hero {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-grid-rows: (0.7fr)[9];
      grid-template-rows: repeat(9, 0.7fr);
  padding: 0 20px;
}

.hero-title {
  color: white;
  font-size: 64px;
  line-height: 75px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  text-align: center;
}

.hero-text {
  text-align: center;
  color: white;
  max-width: 500px;
  font-size: 18px;
  letter-spacing: 0.01em;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.hero-link {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.hero-container__links {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.idea-section {
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7em 3fr 3fr 7em;
      grid-template-columns: 7em 3fr 3fr 7em;
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  height: 840px;
  justify-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.idea-section .section-container {
  max-width: 407px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  grid-row: 4 / 8;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  row-gap: 20px;
}

.idea-section .section-container .section-title {
  max-width: 370px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  font-size: 24px;
  letter-spacing: 1px;
  color: #373737;
}

.idea-section .section-container .section-text {
  font-weight: 500;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  color: #4e4e4e;
}

.idea-section .section-container .section-button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.idea-section .section-image {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 6;
  grid-row: 3 / 9;
  justify-self: flex-end;
}

.community-section {
  height: 504px;
  padding-right: 50px;
  background: #f5f6f7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7em auto 300px 300px;
      grid-template-columns: 7em auto 300px 300px;
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: end;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.community-section .community-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  row-gap: 15px;
  -ms-grid-column-align: start;
      justify-self: start;
  justify-items: center;
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  grid-row: 4 / 8;
}

.community-section .community-container .community-title {
  letter-spacing: 1px;
  color: #373737;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2.4px;
}

.community-section .community-container .community-text {
  text-align: center;
  max-width: 300px;
  color: #4e4e4e;
}

.community-section .community-image-1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 6;
  grid-row: 3 / 9;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  width: 300px;
}

.community-section .community-image-2 {
  width: 300px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 6;
  grid-row: 3 / 9;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}
/*# sourceMappingURL=style.css.map */