@media (max-width: 970px) {
  .idea,
  .code {
    -ms-grid-columns: 3em 3fr 3fr 3em;
        grid-template-columns: 3em 3fr 3fr 3em;
  }
  .section-image {
    width: 328px;
    height: 391px;
  }
  .community {
    -ms-grid-columns: 3em auto 1fr;
        grid-template-columns: 3em auto 1fr;
  }
  .community-image-1 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .community-image-2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: 7 / 9;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 710px) {
  html {
    font-size: 15.5px;
  }
  .header {
    -ms-grid-columns: 1em 10fr 1em;
        grid-template-columns: 1em 10fr 1em;
  }
  .idea,
  .code {
    -ms-grid-columns: 1em 1fr 5fr 1fr 1em;
        grid-template-columns: 1em 1fr 5fr 1fr 1em;
    justify-items: start;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    max-height: 840px;
  }
  .idea .section-container,
  .code .section-container {
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    grid-row: 7 / 10;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .idea .section-image,
  .code .section-image {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2 / 6;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .community {
    -ms-grid-columns: 1em 2fr 1em;
        grid-template-columns: 1em 2fr 1em;
    padding: 0;
  }
  .community-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / 5;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .community-image-1 {
    width: 200px;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .community-image-2 {
    width: 200px;
    -ms-grid-row: 8;
    -ms-grid-row-span: 2;
    grid-row: 8 / 10;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .footer {
    -ms-grid-columns: 1fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 1fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
  }
  .footer-nav {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .footer-logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .footer-text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media (max-width: 400px) {
  .idea .section-image,
  .code .section-image {
    width: 240px;
    height: 340px;
  }
  .community {
    height: 600px;
  }
  .newsletter .form {
    width: 300px;
  }
  .download .download-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
/*# sourceMappingURL=media.css.map */